body{
    background-image: url("nyc.jpg");
    background-size: cover;
}

.jumbotron{
    background: transparent;
    color: white;
    text-align: center;
    
}

#first{
    font-size: 100px;
}

.img-circle{
    width: 100px;
    text-align: center;
}

#look{
    font-size: 30px
}