body{
    background:url(http://wallpapercave.com/wp/fEN1A6h.jpg);
    background-size:cover;
    background-position:center;
    text-align: center;

.container{
    background-color:;
    background-size: 1000px;
}


.container-fluid{
    /* background-color:;
    background-size:cover;
    background-position:center;
    text-align: center; */
}

.jumbotron{
     border:1px transparent;
    margin: 1px auto;
    padding: 1px; 
}
